<html>

<head>
    <title> ToDo App </title>
</head>

<body>
    <div class="container">
        <h2> A Simple ToDo List App </h2>

        <form action="/addtask" method="POST">
            <input type="text" name="newtask" placeholder="add new task">
            <button> Add Task </button>
            <h2> List Task </h2>
        </form><br/>
        
        <% for( var i = 0; i < task.length; i++){ %>
            <input type="checkbox" checked="<%= task[i].Status %>" /> &nbsp;&nbsp;
            <%= task[i].Task %>&nbsp;&nbsp;
            <a href="http://localhost:3000/removetask/<%= task[i]._id %>"> Remove </a>
            <br/>
        <% } %>

    </div>
</body>

</html>