<html>

<head>
    <title> ToDo App </title>
</head>

<body>
    <div class="container">
        <h2> A Simple ToDo List App </h2>

        <form action="/addtask" method="POST">

            <input type="text" name="newtask" placeholder="add new task">
            <button> Add Task </button>

            <h2> Added Task </h2>

            <% for( var i = 0; i < task.length; i++){ %>
                <li><input type="checkbox" name="check" value="<%= task[i]._id %>" /> <%= task[i].Task %>
                </li>
            <% } %>

            <button formaction="/removetask" type="submit" id="top"> Remove </button>

        </form>



    </div>

</body>

</html>